body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    background-image: url(../assets/background-image.jpg); 
    background-size: cover; 
    background-position: initial; 
    position: auto;
    background-repeat: no-repeat; 
}

/* editando a logo*/
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    padding-left: 10px;
}
.image-logo {
   width: 400px;
   height: auto;
}


/*Estilizando o header*/
.barra-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    background-color: #005aa8d7;
    border-radius: 60px;
    width: 800px;
}

.barra-menu a {
   text-decoration: none;
   font-family: serif;
   font-size: 1.5rem;
   color: #EAECE9;
}

.instagram-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instagram-logo {
    width: 30px;
    height: 30px;
}

.youtube-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.youtube-logo {
    width: 30px;
    height: 30px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Estilizando o menu das senhas*/
.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.menu-conteudo { 
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 2rem;
}

.area-paciente {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    line-height: 1px;
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

.area-funcionario {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    line-height: 1px;
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

